@page "{handler?}"
@model IndexModel
@{
    ViewData["Title"] = "Course";
}
<div class="container">
    <h3>The course details go here</h3>
    <form method="post">
        <article class="esh-basket-titles row">
            <br />
            <section class="esh-basket-title col-xs-3">Course</section>
            <section class="esh-basket-title col-xs-2">Link</section>
            <section class="esh-basket-title col-xs-2">Description</section>
        </article>
        @{
            <article class="esh-basket-items row">
                <div>
                    <section class="esh-basket-item esh-basket-item--middle col-xs-3">@Model.CourseModel.Name</section>
                </div>
                <div class="row">
                </div>
            </article>
        }
    </form>
</div>
